.error-snackbar {
    background-color: #e40d02 !important; /* Màu xanh lá */
    color: rgb(251, 251, 251) !important;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-bottom: 10px;
  }
  
  .btn-import {
    background-color: #3bf009 !important;
    color: black !important;
  }